$highlight-dark: rgb(142, 156, 225);
$highlight: rgb(123, 139, 219);

$font-family: "Fira Code", Helvetica, Arial, sans-serif;
$header-font-size: 20pt;
$subheader-font-size: 12pt;
$content-font-size: 7pt;
