$highlight-dark: rgb(142, 156, 225);
$highlight: rgb(123, 139, 219);

$border-padding: 1.875rem;
$font-family: "Fira Code", Helvetica, Arial, sans-serif;
$header-font-size: 1.67rem;
$subheader-font-size: 1.2rem;
$content-font-size: 0.5rem;
